{% extends "layout-admin.html.twig" %}

{% block title %} Ajouter un bien {% endblock %}

{% block main %}
    
    <main class="container admin py-5">
        {% if errormessage is defined %}
      
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ errormessage }} 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elseif message is defined %}

            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message }} 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <h1>Ajouter un bien</h1>

        <form action='index.php?route=check-add-property' method="POST" enctype="multipart/form-data" class="mt-5">
            <input type="hidden" name="csrf-token" id="csrf-token" value="{{ token }}" >
            <fieldset class="my-1 ">
                <label for="owner">Propriétaire du bien:</label>
                <select class="form-select" id="ownerId" name="ownerId" aria-label="Floating label select example">
                    <option selected value="">Selectionner le proprietaire du bien</option>
                    {% for proprietaire in usersProprietaire  %}
                    <option value="{{  proprietaire.id }}">{{ proprietaire.firstName ~ " " ~ proprietaire.lastName }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="owner">Locataire du bien:</label>
                <select class="form-select" id="tenantId" name="tenantId" aria-label="Floating label select example">
                    <option selected value="">Selectionner le locataire du bien</option>
                    {% for locataire in usersLocataire  %}
                    <option value="{{  locataire.id }}">{{ locataire.firstName ~ " " ~ locataire.lastName }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1">
                <legend class="legend-features">Caractéristiques du bien</legend>
                {% for key, features in allFeatures  %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="{{ features.id }}" name="features[]" id="features_{{ key }}">
                    <label class="form-check-label" for="features_{{ key }}"> {{ features.propertyFeaturesName }} </label>
                </div>
                
                {% endfor %}
            </fieldset>
            <fieldset class="my-1 form-group" >
                <legend>Selectionner des photos pour ce bien</legend>
                <!-- <div class="dropzone" id="dropzone"> -->
                <div>
                   <input class="form-control form-control-sm" type="file" name="formFile[]" multiple>
                </div>

<!--                   <figure>
                    <img src='{{ "../upload/" ~ media.url }}' class="img-fluid img-thumbnail" alt="...">
                    <figcaption></figcaption>
                  </figure> -->
<!--                  <label for="formFile_{{ key }}" class="form-label">Default file input example</label>
 -->            </fieldset>
            <fieldset class="my-1">
                <label for="salesPrice" class="form-label">
                    Prix de vente
                </label>
                <input type="number" name="salesPrice" id="salesPrice" class="form-control" value=""/>
            </fieldset>
            <fieldset class="my-1">
                <label for="rent" class="form-label">
                    Loyer
                </label>
                <input type="number" name="rent" id="rent" class="form-control" value=""/>
            </fieldset>
            <fieldset class="my-1">
                <label for="charge" class="form-label">
                    Charge
                </label>
                <input type="number" name="charge" id="charge" class="form-control" value=""/>
            </fieldset>
            <fieldset class="my-1">
                <label for="rentCharge" class="form-label">
                    Loyer + Charge
                </label>
                <input type="number" name="rentCharge" id="rentCharge" class="form-control" value=""/>
            </fieldset>
            <fieldset class="my-1">
                <label for="securityDeposit" class="form-label">
                    Dépôt de garantie
                </label>
                <input type="number" name="securityDeposit" id="securityDeposit" class="form-control" value=""/>
            </fieldset>
            <fieldset class="my-1">
                <label for="agencyFeesRent" class="form-label">
                    Frais d'agence
                </label>
                <input type="number" name="agencyFeesRent" id="agencyFeesRent" class="form-control" value=""/>
            </fieldset>
            <fieldset class="my-1 ">
                <select class="form-select" id="energyDiagnosticsId" name="energyDiagnosticsId" aria-label="Floating label select example">
                    <option selected value="">Selectionner une note</option>
                    {% for noteEnergy in allNoteEnergy  %}
                    <option value="{{  noteEnergy.id }}">{{ noteEnergy.note }}</option>
                    {% endfor %}
                </select>
                <label for="energyDiagnosticsId">Note diagnostique énergétique</label>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="greenhouseGasEmissionIndicesId">Note emisssion gaz à effet de serre</label>
                <select class="form-select" id="greenhouseGasEmissionIndicesId" name="greenhouseGasEmissionIndicesId" aria-label="Floating label select example">
                    <option selected value="">Selectionner une note</option>
                    {% for noteGreenhouse in allNoteGreenhouse  %}
                    <option value='{{  noteGreenhouse.id }}'>{{ noteGreenhouse.note }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="statusId">Status de la propriété</label>
                <select class="form-select" id="statusId" name="statusId" aria-label="Floating label select example">
                    <option selected value="">Selectionner le status du bien</option>
                    {% for status in allStatus  %}
                    <option value="{{  status.id }}">{{ status.statusName }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="stateId">Etat de la propriété</label>
                <select class="form-select" id="stateId" name="stateId" aria-label="Floating label select example">
                    <option selected value="">Selectionner l'état du bien</option>
                    {% for state in allState  %}
                    <option value="{{  state.id }}">{{ state.stateName }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="typeId">Types de propriété</label>
                <select class="form-select" id="typeId" name="typeId" aria-label="Floating label select example">{{ dump(type) }}
                    <option selected value="">Selectionner un type de bien</option>
                    {% for type in allType  %}
                    <option value="{{  type.id }}">{{ type.typeName }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1">
                <label for="availabilityDate" class="form-label">
                    Date de disponnibilité
                </label>
                <input type="date" name="availabilityDate" id="availabilityDate" class="form-control" value=""/>
            </fieldset>
            <fieldset class="my-1">
                <label for="title" class="form-label">
                    Titre
                </label>
                <input type="text" name="title" id="title" class="form-control" value=""/>
            </fieldset>
            <fieldset class="my-1">
                <label for="rooms" class="form-label">
                    Nombre de pièces
                </label>
                <input type="number" name="rooms" id="rooms" class="form-control" value=""/>
            </fieldset>
            <fieldset class="my-1">
                <label for="surface" class="form-label">
                    Superficie
                </label>
                <input type="number" name="surface" id="surface" class="form-control" value=""/>
            </fieldset>
            <fieldset class="my-1">
                <label for="description" class="form-label">
                    Description
                </label>
                <textarea class="form-control" name="description" id="description"  value="" rows="5"></textarea>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="city">Ville</label>
                <select class="form-select" id="city" name="city" aria-label="Floating label select example">
                    <option selected value="">Selectionner une ville</option>
                    {% for location in allLocation  %}
                    <option value="{{  location.id }}">{{ location.city }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="district">Code postal</label>
                <select class="form-select" id="district" name="district" aria-label="Floating label select example">
                    <option selected value="">Selectionner un code postal</option>
                    {% for location in allLocation  %}
                    <option value="{{  location.id }}">{{ location.district }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="rentalManagementId">Gestion locative</label>
                <select class="form-select" id="rentalManagementId" name="rentalManagementId" aria-label="Floating label select example">
                    {% for management in allManagement  %}
                    <option value="{{  management.id }}">{{ management.management }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            {% if role is defined and role == "READER" %}
            <button type="submit" class="btn btn-primary" disabled>Ajouter un bien</button>
            {% else %}
            <button type="submit" class="btn btn-primary">Ajouter un bien</button>
            {% endif %}
        </form>

   
</main>
    
{% endblock %}

{% block script %}
{{ parent() }}
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js”></script> -->
<script>
    Dropzone.options.dropzone = {
  url: "/index.php?route=check-add-property",
  autoProcessQueue: false,
  paramName: "formFile[]",
  clickable: true,
  maxFilesize: 2, //in mb
  addRemoveLinks: true,
  acceptedFiles: '.png,.jpg',
  dictDefaultMessage: "Upload your file here",
  init: function() {
    this.on("sending", function(file, xhr, formData) {
      console.log("sending file");
    });
    this.on("success", function(file, responseText) {
      console.log('great success');
    });
    this.on("addedfile", function(file){
  		console.log('file added');
  	});
  }
};
</script>
{% endblock %}