{% extends "layout-admin.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main>
    {% for property in propertys %}    

    <article class="card  mb-sm-5" style="width: 25rem;">
        
        <img class="card-img-top" src='{{  "../upload/" ~ property.vignette_url }}' alt="Card image cap">
        
        <div class="card-body">
            <h5 class="card-title">{{ property.property.title }}</h5>
            <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ property.property.location.city }}</li>
                    <li class="list-group-item">{{ property.property.surface }} M²</li>
                    <li class="list-group-item">{{ property.property.rooms }} pièces</li>
                    <li class="list-group-item">{{ property.property.type.typeName }}</li>
                    <li class="list-group-item">Loyer {{ property.property.rentCharge }} €</li>
                    {% if prproperty.rentCharge is not null %}
                    <li class="list-group-item">Loyer: {{ property.property.rentCharge }} €</li>
                    {% endif %}
                    {% if property.salesPrice is not null %}
                    <li class="list-group-item">Prix de vente: {{ property.property.salesPrice }} €</li>
                    {% endif %}
            </ul>
            <a href="index.php?route=update-property&id={{ property.property.id }}" class="btn btn-primary">Modifier les informations</a>
            <a class="btn btn-danger" href='index.php?route=delete-property&id={{ property.property.id }}&type={{ property.property.type.typeName }}&typeMedia=vignette' role="button">Supprimer le bien</a>
        </div>
    </article>
   
    {% endfor %}
 
</main>
{% endblock %}




{% block footer %}
{% endblock %}

{% block script %}
{{ parent() }}
{% endblock %}