{% extends "layout-admin.html.twig" %}

{% block title %} Utilisateurs par rôle {% endblock %}

{% block main %}
<main class="admin container">
    <section class="row justify-content-center align-items-center">
        {% if usersRole is defined and usersRole == "admin" %}
        <h1>Liste des {{ usersRole }}s <a class="btn btn-success" href="index.php?route=register" role="button">+ Ajouter un administrateur</a></h1>
        {% elseif usersRole is defined and usersRole == "reader" %}
        <h1>Liste des {{ usersRole }}s <a class="btn btn-success" href="index.php?route=register" role="button">+ Ajouter un observateur</a></h1>

        {% else %}
        <h1>Liste des {{ usersRole }}s <a class="btn btn-success" href="index.php?route=add-user" role="button">+ Ajouter un utilisateur</a></h1>
        {% endif %}

        {% if usersByRolerole is defined and usersByRolerole != null %}
        {% for user in usersByRolerole %}
        <article class="card  mb-sm-5" >
            <img class="card-img-top img-thumbnail" src="../assets/img/user-account-image.webp" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ user.firstName ~ " " ~ user.lastName }}</h5>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ user.phone }}</li>
                        <li class="list-group-item">{{ user.email }}</li>
                        <li class="list-group-item">{{ user.role }}</li>
                </ul>
                {% if user.role == "ADMIN" or user.role == "READER"%}

                <a class="btn btn-primary"href="index.php?route=update-admin&id={{ user.id }}" role="button">Modifier les informations</a>
                {% else %}
                <a class="btn btn-primary" href="index.php?route=update-user&id={{ user.id }}" role="button">Modifier les informations</a>
                {% endif %}
                <a class="btn btn-danger" href="index.php?route=delete-user&id={{ user.id }}" role="button">Supprimer l'utilisateur</a>
            </div>
        </article>
        {% endfor %}
        {% elseif usersByRolerole == null  %}
        <p>Aucun utilisateurs trouvés</p>
        {% endif %}
    </section>
    

 
</main>



{% endblock %}
