{% extends "layout-admin.html.twig" %}

{% block main %}
<main class="admin container">
    <section class="row justify-content-center align-items-center">
        {% if usersRole is defined and usersRole == "admin" %}
        <h1>Liste des {{ usersRole }}s <a class="btn btn-success" href="index.php?route=register" role="button">+ Ajouter un administrateur</a></h1>
        {% else %}
        <h1>Liste des {{ usersRole }}s <a class="btn btn-success" href="index.php?route=add-user" role="button">+ Ajouter un utilisateur</a></h1>
        {% endif %}
        {% for user in usersByRolerole %}
        <article class="card  mb-sm-5" >
            <img class="card-img-top" src="../assets/img/avatar-users-img.svg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ user.firstName ~ " " ~ user.lastName }}</h5>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ user.address }}</li>
                        <li class="list-group-item">{{ user.phone }}</li>
                        <li class="list-group-item">{{ user.email }}</li>
                        <li class="list-group-item">{{ user.role }}</li>
                </ul>
                {% if user.role == "ADMIN" %}

                <a href="index.php?route=update-admin&id={{ user.id }}" class="btn btn-primary">Modifier les informations</a>
                {% else %}
                <a href="index.php?route=update-user&id={{ user.id }}" class="btn btn-primary">Modifier les informations</a>
                {% endif %}
                <a class="btn btn-danger" href="index.php?route=delete-user&id={{ user.id }}" role="button">Supprimer l'utilisateur</a>
            </div>
        </article>
        {% endfor %}
    </section>
    

 
</main>



{% endblock %}
