{% extends "layout-admin.html.twig" %}

{% block title %} Biens par type {% endblock %}

{% block main %}
<main class="admin container">
    <section class="row justify-content-center align-items-center">
        <h1 class="mt-5">Listes des {{ type }} <a class="btn btn-success" href="index.php?route=add-property" role="button">+ Ajouter un bien </a></h1>
        {% if propertys is defined and propertys != null %}
        {% for property in propertys %}
        
        <article class="card  mb-sm-5">
            
            <img class="card-img-top img-thumbnail" src='{{  "../upload/" ~ property.vignette_url }}' alt="{{ property.vignette_url }}">
            
            <div class="card-body">
                <h5 class="card-title">{{ property.property.title }}</h5>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ property.property.location.city }}</li>
                        <li class="list-group-item">{{ property.property.surface }} M²</li>
                        <li class="list-group-item">{{ property.property.rooms }} pièces</li>
                        <li class="list-group-item">{{ property.property.type.typeName }}</li>
                        {% if property.property.rentCharge != null or property.property.rentCharge != 0 %}
                        <li class="list-group-item">Loyer : {{ property.property.rentCharge }} €</li>
                        {% endif %}                    
                        {% if property.property.charge != null or property.property.charge != 0  %}
                        <li class="list-group-item">Charge: {{ property.property.charge }} €</li>
                        {% endif %}
                        {% if property.property.salesPrice != null or property.property.salesPrice != 0 %}
                        <li class="list-group-item">Prix de vente: {{ property.property.salesPrice | number_format(0, '', ' ') }} €</li>
                        {% endif %}
                </ul>
                <a href="index.php?route=update-property&id={{ property.property.id }}&type={{ property.property.type.typeName }}" class="btn btn-primary">Modifier les informations</a>
                <a class="btn btn-danger" href='index.php?route=delete-property&id={{ property.property.id }}&type={{ property.property.type.typeName }}&typeMedia=vignette' role="button">Supprimer le bien</a>
            </div>
        </article>
        
        {% endfor %}
        {% elseif propertys == null  %}
        <p>Aucun biens trouvés</p>
        {% endif %}
    </section>
      
    
    
 
</main>
{% endblock %}

