{% extends "layout-admin.html.twig" %}

{% block main %}
<main class="admin container py-5">
{% if errormessage is defined %}
    
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ errormessage }} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% elseif message is defined %}

    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ message }} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <h1> Supprimer un bien </h1>

    <form class="form-delete" role="form" action="index.php?route=check-delete-property&type={{ propertyById.type.typeName }}" method="post">
        <input type="hidden" name="csrf-token" id="csrf-token" value="{{ token }}" />
        <input type="hidden" id="propertyId" name="propertyId" value="{{ propertyById.id }}" />
        <p class="alerte">Êtes-vous sûrs de vouloirs supprimés ce bien ? <br> Cette action est irreversible !</p>
        <div class="form-actions">{{dump(role)}}
            {% if role is defined and role == "READER" %}
            <button type="submit" class="btn btn-alerte" disabled> Oui</button>
            {% else %}
            <button type="submit" class="btn btn-alerte"> Oui</button>
            {% endif %}
            <a class="btn btn-non" href="index.php?route=admin-property-by-type&type={{ propertyById.type.typeName }}&typeMedia=vignette" role="button">Non</a>
        </div>
    </form>
   
</main>
    
{% endblock %}

