{% extends "layout-admin.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main>
    <h2 class="mt-5">Espace d'administration</h2>
    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Biens</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Biens à louer</a></li>
              <li><a class="dropdown-item" href="#">Biens à vendre</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="index.php?route=users" role="button" aria-expanded="false">Utilisateurs</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="index.php?route=users-proprietaire&role=proprietaire">Propriétaires</a></li>
              <li><a class="dropdown-item" href="index.php?route=users-locataire&role=locataire">Locataires</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="index.php?route=users-admin&role=admin">Admins du site</a></li>
            </ul>
        </li>
    </ul>
    <a class="btn btn-success" href="index.php?route=add-property" role="button">+ Ajouter un bien</a>
    <a class="btn btn-success" href="index.php?route=add-user" role="button">+ Ajouter un utilisateur</a>

    {% if usersByRolerole %}
        {% for user in usersByRolerole %}
        <article class="row">
            
            <div class="col-sm-3 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.firstName ~ " " ~ user.lastName }}</h5>
                        <ul>
                                <li>{{ user.address }}</li>
                                <li>{{ user.phone }}</li>
                                <li>{{ user.email }}</li>
                                <li>{{ user.role }}</li>
                        </ul>
                        <a href="index.php?route=update-user&id={{ user.id }}" class="btn btn-primary">Modifier les informations</a>
                    </div>
            </div>
            </div>
        </article>
        {% endfor %} 

    {% endif %}

    {% for user in users %}
    <article class="row">
        
        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ user.firstName ~ " " ~ user.lastName }}</h5>
                    <ul>
                            <li>{{ user.address }}</li>
                            <li>{{ user.phone }}</li>
                            <li>{{ user.email }}</li>
                            <li>{{ user.role }}</li>
                    </ul>
                    <a href="index.php?route=update-user&id={{ user.id }}" class="btn btn-primary">Modifier les informations</a>
                </div>
          </div>
        </div>
    </article>
    {% endfor %} 

 
</main>



{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{{ parent() }}
{% endblock %}