{% extends "layout-admin.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
    <h1> page pour mettre à jour un bien </h1>
    <main class="container py-5">
        <h1>
            Mettre à jour les informations de la propriété
        </h1>
        <p>Propriétaire du bien: {{ propertyById.owner.firstName ~ " " ~ propertyById.owner.lastName }}</p>
        <p>Locataire du bien: {{ propertyById.tenant.firstName ~ " " ~ propertyById.tenant.lastName }}</p>

        <form action='index.php?route=check-update-property' method="POST" enctype="multipart/form-data" class="mt-5">
            <input type="hidden" name="csrf-token" id="csrf-token" value="{{ session }}" />
            <input type="hidden" id="propertyId" name="propertyId" value="{{ propertyById.id }}" />
            <fieldset class="my-1 form-floating">
                <select class="form-select" id="ownerId" name="ownerId" aria-label="Floating label select example">
                    <option value="{{  propertyById.owner.id }}" selected>{{ propertyById.owner.firstName ~ " " ~ propertyById.owner.lastName }}</option>
                    {% for proprietaire in usersProprietaire  %}
                    <option value="{{  proprietaire.id }}">{{ proprietaire.firstName ~ " " ~ proprietaire.lastName }}</option>
                    {% endfor %}
                </select>
                <label for="owner">Propriétaire du bien:</label>
            </fieldset>
            <fieldset class="my-1 form-floating">
                <select class="form-select" id="tenantId" name="tenantId" aria-label="Floating label select example">
                    <option value="{{  propertyById.tenant.id }}" selected>{{ propertyById.tenant.firstName ~ " " ~ propertyById.tenant.lastName }}</option>
                    {% for locataire in usersLocataire  %}
                    <option value="{{  locataire.id }}">{{ locataire.firstName ~ " " ~ locataire.lastName }}</option>
                    {% endfor %}
                </select>
                <label for="owner">Locataire du bien:</label>
            </fieldset>
            <fieldset class="my-1">
                <legend>Caractéristiques du bien</legend>
                
                {% for key, features in featureByIdProperty  %}
                <input class="form-check-input" type="checkbox" value="{{ features.id }}" name="features[]" id="features_{{ key }}" checked>
                <label class="form-check-label" for="features_{{ key }}">
                    {{ features.propertyFeaturesName }}
                </label>
                
                {% endfor %}
                
                {% for key, features in allFeatures  %}
                <input class="form-check-input" type="checkbox" value="{{ features.id }}" name="features[]" id="features_{{ key }}">
                <label class="form-check-label" for="features_{{ key }}">
                    {{ features.propertyFeaturesName }}
                </label>
                {% endfor %}
            </fieldset>
            <fieldset class="my-1">
                <legend>Photos du bien</legend>
                {% if propertyById.medias is empty %}
                <figure>
                    <img src="../assets/img/no-vignette.svg" class="img-fluid img-thumbnail" alt="...">
                  </figure>
                  <label for="formFile_{{ key }}" class="form-label">Default file input example</label>
                  <input class="form-control" type="file" name="formFile[]" id="formFile_{{ key }}" multiple>
                  {% else %}
                  {% for key, media in propertyById.medias  %}
                  <figure>
                    <img src='{{ "../upload/" ~ media.url }}' class="img-fluid img-thumbnail" alt="...">
                    <figcaption>{{ media.url }}</figcaption>
                  </figure>
                  <label for="formFile_{{ key }}" class="form-label">Default file input example</label>
                  <input class="form-control" type="file" name="formFile[]" id="formFile_{{ key }}" >
                 
                {% endfor %} 
                {% endif %}
                <label for="formFile_{{ key }}" class="form-label">Ajouter des photos supplementaire</label>
                <input class="form-control" type="file" name="formFile[]" id="formFile_{{ key }}" multiple>

            </fieldset>
            <fieldset class="my-1">
                <label for="salesPrice" class="form-label">
                    Prix de vente
                </label>
                <input type="number" name="salesPrice" id="salesPrice" class="form-control" value="{{ propertyById.salesPrice }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="rent" class="form-label">
                    Loyer
                </label>
                <input type="number" name="rent" id="rent" class="form-control" value="{{ propertyById.rent }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="charge" class="form-label">
                    Charge
                </label>
                <input type="number" name="charge" id="charge" class="form-control" value="{{ propertyById.Charge }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="rentCharge" class="form-label">
                    Loyer + Charge
                </label>
                <input type="number" name="rentCharge" id="rentCharge" class="form-control" value="{{ propertyById.rentCharge }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="securityDeposit" class="form-label">
                    Dépôt de garantie
                </label>
                <input type="number" name="securityDeposit" id="securityDeposit" class="form-control" value="{{ propertyById.securityDeposit }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="agencyFeesRent" class="form-label">
                    Frais d'agence
                </label>
                <input type="number" name="agencyFeesRent" id="agencyFeesRent" class="form-control" value="{{ propertyById.agencyFeesRent }}"/>
            </fieldset>
            <fieldset class="my-1 form-floating">
                <select class="form-select" id="energyDiagnosticsId" name="energyDiagnosticsId" aria-label="Floating label select example">
                    <option value="{{  propertyById.energyDiagnostics.id }}" selected>{{ propertyById.energyDiagnostics.note }}</option>
                    {% for noteEnergy in allNoteEnergy  %}
                    <option value="{{  noteEnergy.id }}">{{ noteEnergy.note }}</option>
                    {% endfor %}
                </select>
                <label for="energyDiagnosticsId">Note diagnostique énergétique</label>
            </fieldset>
            <fieldset class="my-1 form-floating">
                <select class="form-select" id="greenhouseGasEmissionIndicesId" name="greenhouseGasEmissionIndicesId" aria-label="Floating label select example">
                    <option value="{{  propertyById.greenhouseGasEmissionIndices.id }}" selected>{{ propertyById.greenhouseGasEmissionIndices.note }}</option>
                    {% for noteGreenhouse in allNoteGreenhouse  %}
                    <option value="{{  noteGreenhouse.id }}">{{ noteGreenhouse.note }}</option>
                    {% endfor %}
                </select>
                <label for="greenhouseGasEmissionIndicesId">Note emisssion gaz à effet de serre</label>
            </fieldset>
            <fieldset class="my-1 form-floating">
                <select class="form-select" id="statusId" name="statusId" aria-label="Floating label select example">
                    <option value="{{  propertyById.statusProperty.id }}" selected>{{ propertyById.statusProperty.stateName }}</option>
                    {% for status in allStatus  %}
                    <option value="{{  status.id }}">{{ status.statusName }}</option>
                    {% endfor %}
                </select>
                <label for="statusId">Etat de la propriété</label>
            </fieldset>
            <fieldset class="my-1 form-floating">
                <select class="form-select" id="stateId" name="stateId" aria-label="Floating label select example">
                    <option value="{{  propertyById.state.id }}" selected>{{ propertyById.state.stateName }}</option>
                    {% for state in allState  %}
                    <option value="{{  state.id }}">{{ state.management }}</option>
                    {% endfor %}
                </select>
                <label for="stateId">Etat de la propriété</label>
            </fieldset>
            <fieldset class="my-1 form-floating">
                <select class="form-select" id="typeId" name="typeId" aria-label="Floating label select example">
                    <option value="{{  propertyById.type.id }}" selected>{{ propertyById.type.typeName }}</option>
                    {% for type in allType  %}
                    <option value="{{  type.id }}">{{ type.typeName }}</option>
                    {% endfor %}
                </select>
                <label for="typeId">Types de propriété</label>
            </fieldset>
            <fieldset class="my-1">
                <label for="availabilityDate" class="form-label">
                    Date de disponnibilité
                </label>
                <input type="date" name="availabilityDate" id="availabilityDate" class="form-control" value="{{ propertyById.availabilityDate }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="title" class="form-label">
                    Adresse
                </label>
                <input type="text" name="title" id="title" class="form-control" value="{{ propertyById.title }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="rooms" class="form-label">
                    Nombre de pièces
                </label>
                <input type="number" name="rooms" id="rooms" class="form-control" value="{{ propertyById.rooms }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="surface" class="form-label">
                    Superficie
                </label>
                <input type="number" name="surface" id="surface" class="form-control" value="{{ propertyById.surface }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="description" class="form-label">
                    Description
                </label>
                <textarea class="form-control" name="description" id="description"  value="{{ propertyById.description }}" rows="5"></textarea>
            </fieldset>
            <fieldset class="my-1">
                <label for="city" class="form-label">
                    Ville
                </label>
                <input type="text" name="city" id="city" class="form-control" value="{{ propertyById.location.city }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="district" class="form-label">
                    Quartier
                </label>
                <input type="text" name="district" id="district" class="form-control" value="{{ propertyById.location.district }}"/>
            </fieldset>
            <fieldset class="my-1 form-floating">
                <select class="form-select" id="rentalManagementId" name="rentalManagementId" aria-label="Floating label select example">
                    <option value="{{  propertyById.rentalManagement.id }}" selected>{{ propertyById.rentalManagement.management }}</option>
                    {% for management in allManagement  %}
                    <option value="{{  management.id }}">{{ management.management }}</option>
                    {% endfor %}
                </select>
                <label for="rentalManagementId">Gestion locative</label>
            </fieldset>
            <button type="submit" class="mt-3 btn btn-primary">Mettre à jour</button>
            <a class="btn btn-danger" href="index.php?route=delete-property&id={{ propertyById.id }}&type={{ propertyById.type.typeName }}&typeMedia=vignette" role="button">Supprimer le bien</a>
        </form>

   
</main>
    
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{{ parent() }}
{% endblock %}