{% extends "layout-admin.html.twig" %}

{% block main %}


    <main class="admin container py-5">
    {% if errormessage is defined %}
      
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ errormessage }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% elseif message is defined %}

        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endif %}

        <h1>
            Mettre à jour les informations de la propriété
        </h1>
        <p class="prop-info">Propriétaire du bien: {{ propertyById.owner.firstName ~ " " ~ propertyById.owner.lastName }}</p>
        <p class="prop-info">Locataire du bien: {{ propertyById.tenant.firstName ~ " " ~ propertyById.tenant.lastName }}</p>

        <form action='index.php?route=check-update-property' method="POST" enctype="multipart/form-data" class="mt-5">
            <input type="hidden" name="csrf-token" id="csrf-token" value="{{ token }}" />
            <input type="hidden" id="propertyId" name="propertyId" value="{{ propertyById.id }}" />
            <fieldset class="my-1 ">
                <label for="ownerId">Propriétaire du bien:</label>
                <select class="form-select" id="ownerId" name="ownerId" aria-label="Floating label select example">
                    <option value="{{  propertyById.owner.id }}" selected>{{ propertyById.owner.firstName ~ " " ~ propertyById.owner.lastName }}</option>
                    {% for proprietaire in usersProprietaire  %}
                    <option value="{{  proprietaire.id }}">{{ proprietaire.firstName ~ " " ~ proprietaire.lastName }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="tenantId">Locataire du bien:</label>
                <select class="form-select" id="tenantId" name="tenantId" aria-label="Floating label select example">
                    <option value="{{  propertyById.tenant.id }}" selected>{{ propertyById.tenant.firstName ~ " " ~ propertyById.tenant.lastName }}</option>
                    {% for locataire in usersLocataire  %}
                    <option value="{{  locataire.id }}">{{ locataire.firstName ~ " " ~ locataire.lastName }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1">
                
                <legend class="legend-features">Caractéristiques du bien</legend>
                {% for key, features in featureByIdProperty  %}
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="features_{{ key }}">{{ features.propertyFeaturesName }}</label>
                    <input class="form-check-input" type="checkbox" value="{{ features.id }}" name="features[]" id="features_{{ key }}" checked>
                </div>  
                {% endfor %} 
            </fieldset>
            <fieldset class="my-1">
                <legend class="legend-features">Caractéristiques disponible</legend>
                {% for key, features in allFeatures  %}
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="newFeatures_{{ key }}">{{ features.propertyFeaturesName }}</label>
                    <input class="form-check-input" type="checkbox" value="{{ features.id }}" name="newFeatures[]" id="newFeatures_{{ key }}">
                </div>
                {% endfor %}
            </fieldset>
            <fieldset class="my-1 image-field">
                <legend>Photos du bien</legend>
                {% if propertyById.medias is empty %}
                <div class="image">
                    <figure>
                        <img src="../assets/img/no-vignette.svg" class="img-fluid img-thumbnail" alt="{{ media.url }}">
                    </figure>
                    <label for="formFile_{{ key }}" class="form-label">Ajouter des photos</label>
                    <input class="form-control" type="file" name="formFile[]" id="formFile_{{ key }}" multiple>
                </div>
                
                  {% else %}
                  {% for key, media in propertyById.medias  %}
                  <div class="image">
                    
                    <div class="form-check form-check-inline">
                        
                        <label class="form-check-label" for="medias_{{ key }}">{{ media.url }}</label>
                        <input class="form-check-input" type="checkbox" value="{{ media.url }}" name="medias[]" id="medias_{{ key }}">
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <figure>
                        <img src='{{ "../upload/" ~ media.url }}' class="img-fluid img-thumbnail" alt="{{ media.url }}">
                        <!-- <figcaption>{{ media.url }}</figcaption> -->
                    </figure>
                    <!-- <label for="formFile_{{ key }}" class="form-label">Modifier la photo</label>
                    <input class="form-control" type="file" name="formFile[]" id="formFile_{{ key }}" > -->
                  </div>
                  
                 
                {% endfor %} 
                <div class="img-sup">
                    <label for="formFile_{{ key }}" class="form-label">Ajouter des photos supplementaire</label>
                    <input class="form-control" type="file" name="formFile[]" id="formFile_{{ key }}" multiple>      
                </div>
                {% endif %}
                
                

            </fieldset>
            <fieldset class="my-1">
                <label for="salesPrice" class="form-label">
                    Prix de vente
                </label>
                <input type="number" name="salesPrice" id="salesPrice" class="form-control" value="{{ propertyById.salesPrice }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="rent" class="form-label">
                    Loyer
                </label>
                <input type="number" name="rent" id="rent" class="form-control" value="{{ propertyById.rent }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="charge" class="form-label">
                    Charge
                </label>
                <input type="number" name="charge" id="charge" class="form-control" value="{{ propertyById.Charge }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="rentCharge" class="form-label">
                    Loyer + Charge
                </label>
                <input type="number" name="rentCharge" id="rentCharge" class="form-control" value="{{ propertyById.rentCharge }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="securityDeposit" class="form-label">
                    Dépôt de garantie
                </label>
                <input type="number" name="securityDeposit" id="securityDeposit" class="form-control" value="{{ propertyById.securityDeposit }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="agencyFeesRent" class="form-label">
                    Frais d'agence
                </label>
                <input type="number" name="agencyFeesRent" id="agencyFeesRent" class="form-control" value="{{ propertyById.agencyFeesRent }}"/>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="energyDiagnosticsId">Note diagnostique énergétique</label>
                <select class="form-select" id="energyDiagnosticsId" name="energyDiagnosticsId" aria-label="Floating label select example">
                    <option value="{{  propertyById.energyDiagnostics.id }}" selected>{{ propertyById.energyDiagnostics.note }}</option>
                    {% for noteEnergy in allNoteEnergy  %}
                    <option value="{{  noteEnergy.id }}">{{ noteEnergy.note }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="greenhouseGasEmissionIndicesId">Note emisssion gaz à effet de serre</label>
                <select class="form-select" id="greenhouseGasEmissionIndicesId" name="greenhouseGasEmissionIndicesId" aria-label="Floating label select example">
                    <option value="{{  propertyById.greenhouseGasEmissionIndices.id }}" selected>{{ propertyById.greenhouseGasEmissionIndices.note }}</option>
                    {% for noteGreenhouse in allNoteGreenhouse  %}
                    <option value="{{  noteGreenhouse.id }}">{{ noteGreenhouse.note }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="statusId">Status de la propriété</label>
                <select class="form-select" id="statusId" name="statusId" aria-label="Floating label select example">
                    <option value="{{  propertyById.statusProperty.id }}" selected>{{ propertyById.statusProperty.statusName }}</option>
                    {% for status in allStatus  %}
                    <option value="{{  status.id }}">{{ status.statusName }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="stateId">Etat de la propriété</label>
                <select class="form-select" id="stateId" name="stateId" aria-label="Floating label select example">
                    <option value="{{  propertyById.state.id }}" selected>{{ propertyById.state.stateName }}</option>
                    {% for state in allState  %}
                    <option value="{{  state.id }}">{{ state.stateName }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="typeId">Types de propriété</label>
                <select class="form-select" id="typeId" name="typeId" aria-label="Floating label select example">
                    <option value="{{  propertyById.type.id }}" selected>{{ propertyById.type.typeName }}</option>
                    {% for type in allType  %}
                    <option value="{{  type.id }}">{{ type.typeName }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1">
                <label for="availabilityDate" class="form-label">
                    Date de disponnibilité
                </label>
                <input type="date" name="availabilityDate" id="availabilityDate" class="form-control" value="{{ propertyById.availabilityDate }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="title" class="form-label">
                    Titre
                </label>
                <input type="text" name="title" id="title" class="form-control" value="{{ propertyById.title }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="rooms" class="form-label">
                    Nombre de pièces
                </label>
                <input type="number" name="rooms" id="rooms" class="form-control" value="{{ propertyById.rooms }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="surface" class="form-label">
                    Superficie
                </label>
                <input type="number" name="surface" id="surface" class="form-control" value="{{ propertyById.surface }}"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="description" class="form-label">
                    Description
                </label>
                <textarea class="form-control" name="description" id="description" rows="5">{{ propertyById.description }}</textarea>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="city">Ville</label>
                <select class="form-select" id="city" name="city" aria-label="Floating label select example">
                    <option selected value="{{ propertyById.location.id }}">{{ propertyById.location.city }}</option>
                    {% for location in allLocation  %}
                    <option value="{{  location.id }}">{{ location.city }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="district">Code postal</label>
                <select class="form-select" id="district" name="district" aria-label="Floating label select example">
                    <option selected value="{{ propertyById.location.id }}">{{ propertyById.location.district }}</option>
                    {% for location in allLocation  %}
                    <option value="{{  location.id }}">{{ location.district }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="my-1 ">
                <label for="rentalManagementId">Gestion locative</label>
                <select class="form-select" id="rentalManagementId" name="rentalManagementId" aria-label="Floating label select example">
                    <option value="{{  propertyById.rentalManagement.id }}" selected>{{ propertyById.rentalManagement.management }}</option>
                    {% for management in allManagement  %}
                    <option value="{{  management.id }}">{{ management.management }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            {% if role is defined and role == "READER" %}
            <button type="submit" class="btn btn-primary" disabled>Mettre à jour</button>
            {% else %}
            <button type="submit" class="btn btn-primary">Mettre à jour</button>
            {% endif %}
            <a class="btn btn-danger" href="index.php?route=delete-property&id={{ propertyById.id }}&type={{ propertyById.type.typeName }}&typeMedia=vignette" role="button">Supprimer le bien</a>

        </form>
</main>
    
{% endblock %}
