{% extends "layout-admin.html.twig" %}


{% block main %}
<main class="admin container py-5">
    
    {% if errormessage is defined %}
      
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ errormessage }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% elseif message is defined %}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endif %}
    <h1> 
        Mettre à jour les informations de {{ userById.firstName ~ " " ~ userById.lastName }}
    </h1>
    <form action='index.php?route=check-update-admin' method="POST" class="mt-5">
        <input type="hidden" name="csrf-token" id="csrf-token" value="{{ token }}" />
        <input type="hidden" id="userId" name="userId" value="{{ userById.id }}" />
        <fieldset class="my-1">
            <label for="firstName" class="form-label">
                Prénom
            </label>
            <input type="text" name="firstName" id="firstName" class="form-control" value="{{ userById.firstName }}"/>
        </fieldset>
        <fieldset class="my-1">
            <label for="lastName" class="form-label">
                Nom
            </label>
            <input type="text" name="lastName" id="lastName" class="form-control" value="{{ userById.lastName }}"/>
        </fieldset>
        <fieldset class="my-1">
            <label for="phone" class="form-label">
                Téléphone
            </label>
            <input type="text" name="phone" id="phone" class="form-control" value="{{ userById.phone }}"/>
        </fieldset>
        <fieldset class="my-1">
            <label for="email" class="form-label">
                Email
            </label>
            <input type="email" name="email" id="email" class="form-control" value="{{ userById.email }}"/>
        </fieldset>
        <fieldset class="my-1">
            <label for="password" class="form-label">
                Mot de passe actuel
            </label>
            <input type="password" name="password" id="password" class="form-control"/>
        </fieldset>
        <fieldset class="my-1">
            <label for="new-password" class="form-label">
                Nouveau mot de passe
            </label>
            <input type="password" name="new-password" id="new-password" class="form-control" />
        </fieldset>
        <fieldset class="my-1">
            <label for="confirm-password" class="form-label">
                Confirmation nouveau mot de passe
            </label>
            <input type="password" name="confirm-password" id="confirm-password"  class="form-control"/>
        </fieldset>
        <fieldset class="my-1 ">
            <label for="floatingSelect">Listes des Rôles utilisateurs</label>
            <select class="form-select" id="role" name="role" aria-label="Floating label select example">
                <option selected>{{ userById.role }}</option>
                <option value="ADMIN">ADMIN</option>
                <option value="USER">USER</option>
            </select>
        </fieldset>
        <button type="submit" class="mt-3 btn btn-primary">Mettre à jour</button>
        <a class="btn btn-danger" href="index.php?route=delete-user&id={{ userById.id }}" role="button">Supprimer l'utilisateur</a>
    </form>
</main>
    
{% endblock %}
