{% extends "layout.html.twig" %}

{% block ogurl %}?route=buy&status=A+VENDRE&typeMedia=vignette{% endblock %}

{% block title %} Acheter un bien {% endblock %}

{% block main %}
<main>

    {% if info is defined %}
      
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ info }} 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <section class="buy-header">
                <h1 class="h1">Acheter votre bien avec Immo35</h1>
                <p>Vous souhaitez acheter pour habiter, effectuer un investissement locatif, ou bien acquérir un terrain pour construire, Immo35 est là pour vous accompagner.</p>
                <figure>
                    <img src="../assets/img/background-result-page-main-header.webp" alt="background-home-page-main-header">
                </figure>
                <article>
                    <form action="index.php?route=result&typeMedia=vignette" method="post">
                        <fieldset>
                            <label for="status">Status</label>
                            <select name="status" id="status">
                                <option value="A LOUER">Louer</option>
                                <option value="A VENDRE">Acheter</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <label for="type">Types de propriété</label>
                            <select class="" id="type" name="type">
                                <option selected value="" disabled>Type</option>
                                {% for type in allType  %}
                                <option value="{{ type.typeName }}">{{ type.typeName }}</option>
                                {% endfor %}
                            </select>
                        </fieldset>
                        <fieldset>
                            <label for="location">Ville</label>
                            <select class="" id="location" name="location">
                                <option selected value="" disabled>Localisation</option>
                                {% for location in allLocation  %}
                                <option value="{{ location.city }}">{{ location.city }}</option>
                                {% endfor %}
                            </select>
                        </fieldset>
                        <button class="btn-front btn-buy" type="submit">Rechercher</button>
                    </form>
                </article>
                
            </section>
    <section class="container card-section">
        <h2>Votre recherche d'achat :  {{ propertys|length }} biens</h2>

        {% for property in propertys %}    
    
        <article class="card" style="width: 25rem;">
            <div class="card-body">
                <h3 class=""><a href="index.php?route=details-property&id={{ property.property.id }}">{{ property.property.title }}</a></h3>
                <ul class="">
                    <li><span>{{ property.property.location.city }}</span></li>
                    <li><strong>{{ property.property.surface }} m²</strong></li>
                    <li><strong>{{ property.property.rooms }} pièces</strong></li>
                    {% if property.property.rentCharge != null or property.property.rentCharge != 0 %}
                    <li><strong>{{ property.property.rentCharge }} €</strong></li>
                    {% endif %}                    
                    {% if property.property.salesPrice != null or property.property.salesPrice != 0 %}
                    <li><strong>{{ property.property.salesPrice | number_format(0, '', ' ') }} €</strong></li>
                    {% endif %}
            </ul>
            </div>
            <figure>
                <img style="width: 100%; height: auto;" class="" src='{{  "./upload/" ~ property.vignette_url }}' alt="{{ property.property.title }}">
            </figure>
        </article>
       
        {% endfor %}
    </section>
   
</main>
    
{% endblock %}