{% extends "layout.html.twig" %}

{% block ogurl %}?route=details-property&id={{ propertyById.id }}{% endblock %}

{% block title %} {{ propertyById.title }} {% endblock %}

{% block main %}
<main class="property-details">

  <section class="responsive slide">
    {% if propertyById.medias is empty %}

    <figure>
      <a href='{{ noVignette }}'><img  src='{{ noVignette }}' class=""
          alt='{{ propertyById.title ~ " " ~ propertyById.surface ~ " " ~ "M²"}}'></a>
    </figure>
    {% else %}
    {% for key, media in propertyById.medias %}
    <figure>
      <a href="#"><img src='{{ "../upload/" ~ media.url }}' alt='{{ propertyById.title ~ " " ~ propertyById.surface ~ " " ~ "M²"}}'></a>
      
    </figure>
    {% endfor %}
    {% endif %}
  </section>

  <section class="property-sec1"> 
    <article>
      <h1>
        {{ propertyById.type.typeName ~ " " ~ propertyById.statusProperty.statusName }} <br>
        {{propertyById.rooms ~ " " ~ "pièces"~" " ~ propertyById.surface ~ " " ~ "M²" }}
      </h1>
      {% if propertyById.availabilityDate is defined %}
      <p class="availabilityDate">disponibilité {{ propertyById.availabilityDate }}</p>
      {% endif %}

      <p class="city">
        {{ propertyById.location.city }} <br>

        {% if propertyById.location.district is defined %}
        {{ propertyById.location.district }}
        {% endif %}
      </p>

      
      <div class="price-container">
        {% if propertyById.rent != 0 %}
        <p class="price">
          {{ propertyById.rentCharge }}€ <br>
        </p>
        <p class="price-legend">
          Par mois charges comprises,<br> dont {{ propertyById.charge }} € de charges par mois <br> Soumises à régularisation
          annuelle</p>
        {% endif %}

        {% if propertyById.salesPrice != 0 %}
        <p class="price">{{ propertyById.salesPrice | number_format(0, '', ' ') }} €</p>
        <p class="price-legend">*Honoraires inclus charge acquéreur </p>
        {% endif %}
      </div>
      

      
    </article>
  </section>

  <section class="property-sec2">
    <h2>Détails de l'annonce</h2>
    <p>{{ propertyById.description }}</p>
  </section>

  <section class="property-sec3">
    <h2>À propos de cette annonce</h2>
    {% if propertyById.rent != 0 %}
    <p>Loyer seul : {{ propertyById.rent }} €</p>
    <p>Charges : {{ propertyById.charge }} €</p>
    <p>Dépôt de garantie : {{ propertyById.securityDeposit }} €</p>
    <p>Honoraires : {{ propertyById.agencyFeesRent }} €</p>
    {% endif %}

    {% if propertyById.salesPrice != 0 %}
    <p>Prix honoraires inclus TTC : {{ propertyById.salesPrice | number_format(0, '', ' ') }} €</p>
    <p>Honoraires : {{ propertyById.agencyFeesRent }} %</p>
    {% endif %}
  </section>

  <section class="property-sec4">
    <h2>Caractéristiques du bien</h2>
    {% if propertyById.propertyFeatures is defined %}
    <ul>
      {% for feature in propertyById.propertyFeatures %}
      <li>{{ feature.propertyFeaturesName }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>

  {% if propertyById.energyDiagnostics != null %}
  <section class="property-sec5">
    <h2>Bilan énergetique</h2>
    <div>
      <article>
        <h3>Diagnostic énergétique</h3>

        <ul class="notes-energie">
          {% for noteEnergy in allNoteEnergy %}
          {% if propertyById.energyDiagnostics.note == noteEnergy.note %}
          <li class="active {{ noteEnergy.note }}">{{ noteEnergy.note }}</li>
          {% else %}
          <li class="{{ noteEnergy.note }}">{{ noteEnergy.note }}</li>
          {% endif %}
          {% endfor %}
        </ul>
       
      </article>
      <article>
        <h3>Indices d'émissions de gaz à effet de serre</h3>
        <ul class="notes-ges">
          {% for noteGreenhouse in allNoteGreenhouse %}
          {% if propertyById.greenhouseGasEmissionIndices.note == noteGreenhouse.note %}
          <li class=" active {{ noteGreenhouse.note }} ">{{ noteGreenhouse.note }}</li>
          {% else %}
          <li class="{{ noteGreenhouse.note }}">{{ noteGreenhouse.note }}</li>
          {% endif %}
          {% endfor %}
        </ul>
      </article>
    </div>
    
  </section>
  {% endif %}

</main>

{% endblock %}
{% block script %}
{{ parent() }}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
  integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/slick-min.js"></script>
<!-- <script type="text/javascript" src="slick-lightbox/slick-lightbox.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.12/slick-lightbox.min.js" integrity="sha512-iSVaq9Huv1kxBDAOH7Il1rwIJD+uspMQC1r4Y73QquhbI2ia+PIXUoS5rBjWjYyD03S8t7gZmON+Dk6yPlWHXw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}