{% extends "layout.html.twig" %}

{% block main %}
<main>
    {% if info is defined %}
      
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ info }} 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <section class="rent-header">
                <h1 class="h1">Louer votre bien avec Immo35</h1>
                <p>Spécialiste de la gestion immobilière à Rennes, La Mézière, Romillé, Gévézé, La Chapelle desFougeretz, Immo35 vous propose un large choix de locations en maisons, appartements, ou résidences services.</p>
                <figure>
                    <img src="../assets/img/background-result-page-main-header.jpeg" alt="background-home-page-main-header">
                </figure>
                <article>
                    <form action="index.php?route=result&typeMedia=vignette" method="post">
                        <fieldset>
                            <label for="status">Status</label>
                            <select name="status" id="status">
                                <option value="A LOUER">Louer</option>
                                <option value="A VENDRE">Acheter</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <label for="type">Types de propriété</label>
                            <select class="" id="type" name="type">
                                <option selected value="" disabled>Type</option>
                                {% for type in allType  %}
                                <option value="{{ type.typeName }}">{{ type.typeName }}</option>
                                {% endfor %}
                            </select>
                        </fieldset>
                        <fieldset>
                            <label for="location">Ville</label>

                            <select class="" id="location" name="location">
                                <option selected value="" disabled>Localisation</option>
                                {% for location in allLocation  %}
                                <option value="{{ location.city }}">{{ location.city }}</option>
                                {% endfor %}
                            </select>
                        </fieldset>
                        <button class="btn btn-rent" type="submit">Rechercher</button>
                    </form>
                </article>
                
            </section>
<section class="container card-section">
    <h2>Votre recherche de location :  {{ propertys|length }} biens</h2>
    
    {% for property in propertys %}    
    <article class="card" style="width: 25rem;">
        <div class="card-body">
            <h3 class=""><a href="index.php?route=details-property&id={{ property.property.id }}">{{ property.property.title }}</a></h3>
            <ul class="">
                <li><span>{{ property.property.location.city }}</span></li>
                <li><strong>{{ property.property.surface }} m²</strong></li>
                <li><strong>{{ property.property.rooms }} pièces</strong></li>
                {% if property.property.rentCharge != null or property.property.rentCharge != 0 %}
                <li><strong>{{ property.property.rentCharge }} €</strong></li>
                {% endif %}                    
                {% if property.property.salesPrice != null or property.property.salesPrice != 0 %}
                <li><strong>{{ property.property.salesPrice | number_format(0, '', ' ') }} €</strong></li>
                {% endif %}
        </ul>
            <figure>
                <img style="width: 100%; height: auto;" class="" src='{{  "../upload/" ~ property.vignette_url }}' alt="{{ property.vignette_url }}">
            </figure>
        </div>
    </article>
   
    {% endfor %}
</section>
    
   
</main>
    
{% endblock %}