{% extends "layout.html.twig" %}

{% block main %}
<main>
    <h1> page des biens en location</h1>
    {% if message is defined %}
      
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }} 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
<section class="card-section">
    {% for property in propertys %}    

    <article class="card" style="width: 25rem;">
        <div class="card-body">
            <h5 class=""><a href="index.php?route=details-property&id={{ property.property.id }}">{{ property.property.title }}</a></h5>
            <ul class="">
                    <li class="list-group-item">{{ property.property.location.city }}</li>
                    <li class="list-group-item">{{ property.property.surface }} M²</li>
                    <li class="list-group-item">{{ property.property.rooms }} pièces</li>
                    <li class="list-group-item">{{ property.property.type.typeName }}</li>
                    {% if property.property.rentCharge != null or property.property.rentCharge != 0 %}
                    <li class="list-group-item">Loyer : {{ property.property.rentCharge }} €</li>
                    {% endif %}                    
                    {% if property.property.charge != null or property.property.charge != 0  %}
                    <li class="list-group-item">Charge: {{ property.property.charge }} €</li>
                    {% endif %}
                    {% if property.property.salesPrice != null or property.property.salesPrice != 0 %}
                    <li class="list-group-item">Prix de vente: {{ property.property.salesPrice }} €</li>
                    {% endif %}
            </ul>
            <figure>
                <img style="width: 100%; height: auto;" class="" src='{{  "../upload/" ~ property.vignette_url }}' alt="{{ property.vignette_url }}">
            </figure>
        </div>
    </article>
   
    {% endfor %}
</section>
    
   
</main>
    
{% endblock %}