{% extends "layout.html.twig" %}

{% block main %}
<main>
<section class="result-main-header">
    <h1 class="h1-result">ANNONCES</h1>
    <article class="article-result">
        <form action="index.php?route=result&typeMedia=vignette" method="post">
            <fieldset>
                <label for="status">Status</label>
                <select name="status" id="status">
                    <option value="A LOUER">Louer</option>
                    <option value="A VENDRE">Acheter</option>
                </select>
            </fieldset>
            <fieldset>
                <label for="type">Types de propriété</label>
                <select class="" id="type" name="type">
                    <option selected value="" disabled>Type</option>
                    {% for type in allType  %}
                    <option value="{{ type.typeName }}">{{ type.typeName }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset>
                <label for="location">Ville</label>
                <select class="" id="location" name="location">
                    <option selected value="" disabled>Localisation</option>
                    {% for location in allLocation  %}
                    <option value="{{ location.city }}">{{ location.city }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <button type="submit">Rechercher</button>
        </form>
    </article>
    
</section>
<section class="container card-section result">
    {% if status == "A LOUER" %}
    <h2>Votre recherche de location :  {{ propertysResearch|length }} biens</h2>
    {% elseif status == "A VENDRE" %}
    <h2>Votre recherche d'achat :  {{ propertysResearch|length }} biens</h2>
    {% endif %}
    
    {% if propertysResearch != [] %}
    {% for property in propertysResearch %}
    <article class="card" style="width: 25rem;">
        <div class="card-body">
            <h3 class=""><a href="index.php?route=details-property&id={{ property.property.id }}">{{ property.property.title }}</a></h3>
            <ul class="">
                    <li class="list-group-item">{{ property.property.location.city }}</li>
                    <li class="list-group-item">{{ property.property.surface }} M²</li>
                    <li class="list-group-item">{{ property.property.rooms }} pièces</li>
                    <li class="list-group-item">{{ property.property.type.typeName }}</li>
                    {% if property.property.rentCharge != null or property.property.rentCharge != 0 %}
                    <li class="list-group-item">Loyer : {{ property.property.rentCharge }} €</li>
                    {% endif %}                    
                    {% if property.property.charge != null or property.property.charge != 0  %}
                    <li class="list-group-item">Charge: {{ property.property.charge }} €</li>
                    {% endif %}
                    {% if property.property.salesPrice != null or property.property.salesPrice != 0 %}
                    <li class="list-group-item">Prix de vente: {{ property.property.salesPrice | number_format(0, '', ' ') }} €</li>
                    {% endif %}
            </ul>
        </div>
        <figure>
            <img style="width: 100%; height: auto;" class="" src='{{  "../upload/" ~ property.vignette_url }}' alt="{{ property.vignette_url }}">
        </figure>
    </article>
   
    {% endfor %}
    {% else %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ info }} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

</section>
   
</main>
    
{% endblock %}

